services:
  postgres-auth:
    expose:
      - "${DB_AUTH_POSTGRES_INTERNAL_PORT}"
    image: postgres:alpine
    #    ports:
    #      - "${DB_AUTH_POSTGRES_EXTERNAL_PORT}:${DB_AUTH_POSTGRES_INTERNAL_PORT}"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_AUTH_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_AUTH_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DB_AUTH_POSTGRES_DB}
    networks:
      - app_network
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_AUTH_POSTGRES_USER}", "-d", "${DB_AUTH_POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
      start_interval: 1s

  migrator-auth:
    image: migrate/migrate
    container_name: migrator-auth
    env_file:
      - .env
    volumes:
      - ./backend/auth-service/migrations:/migrations
    command: >
      -database "postgres://${DB_AUTH_POSTGRES_USER}:${DB_AUTH_POSTGRES_PASSWORD}@postgres-auth:5432/${DB_AUTH_POSTGRES_DB}?sslmode=${DB_AUTH_POSTGRES_SSLMODE}"
      -path /migrations
      up
    depends_on:
      postgres-auth:
        condition: service_healthy
    networks:
      - app_network
    restart: on-failure

  postgres-user:
    expose:
      - "${DB_USER_POSTGRES_INTERNAL_PORT}"
    image: postgres:alpine
    #    ports:
    #      - "${DB_USER_POSTGRES_EXTERNAL_PORT}:${DB_USER_POSTGRES_INTERNAL_PORT}"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_USER_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DB_USER_POSTGRES_DB}
    networks:
      - app_network
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_USER_POSTGRES_USER}", "-d", "${DB_USER_POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
      start_interval: 1s

  migrator-user:
    image: migrate/migrate
    container_name: migrator-user
    env_file:
      - .env
    volumes:
      - ./backend/user-service/migrations:/migrations
    command: >
      -database "postgres://${DB_USER_POSTGRES_USER}:${DB_USER_POSTGRES_PASSWORD}@postgres-user:5432/${DB_USER_POSTGRES_DB}?sslmode=${DB_USER_POSTGRES_SSLMODE}"
      -path /migrations
      up
    depends_on:
      postgres-user:
        condition: service_healthy
    networks:
      - app_network
    restart: on-failure

  api-gateway:
    build:
      context: "./backend/api-gateway"
      args:
        APP_PORT: ${API_GATEWAY_INTERNAL_PORT}
    env_file:
      - .env
    ports:
      - "${API_GATEWAY_EXTERNAL_PORT}:${API_GATEWAY_INTERNAL_PORT}"
    networks:
      - app_network
    depends_on:
      auth-service:
        condition: service_healthy
      user-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${API_GATEWAY_INTERNAL_PORT}/ready" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
      start_interval: 1s

  auth-service:
    expose:
      - "${API_AUTH_SERVICE_INTERNAL_PORT}"
    build:
      context: "./backend/auth-service"
      args:
        APP_PORT: ${API_AUTH_SERVICE_INTERNAL_PORT}
    env_file:
      - .env
    #    ports:
    #      - "${API_AUTH_SERVICE_EXTERNAL_PORT}:${API_AUTH_SERVICE_INTERNAL_PORT}"
    depends_on:
      migrator-auth:
        condition: service_completed_successfully
    networks:
      - app_network
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${API_AUTH_SERVICE_INTERNAL_PORT}/ready" ]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 5s
      start_interval: 1s

  user-service:
    expose:
      - "${API_USER_SERVICE_INTERNAL_PORT}"
    build:
      context: "./backend/user-service"
      args:
        APP_PORT: ${API_USER_SERVICE_INTERNAL_PORT}
    env_file:
      - .env
    #    ports:
    #      - "${API_USER_SERVICE_EXTERNAL_PORT}:${API_USER_SERVICE_INTERNAL_PORT}"
    depends_on:
      migrator-user:
        condition: service_completed_successfully
    networks:
      - app_network
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${API_USER_SERVICE_INTERNAL_PORT}/ready" ]
      interval: 30s
      timeout: 2s
      retries: 3
      start_period: 5s
      start_interval: 1s

  client:
    env_file:
      - .env
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${API_GATEWAY_EXTERNAL_URL}
        APP_PORT: ${CLIENT_INTERNAL_PORT}
    ports:
      - "${CLIENT_EXTERNAL_PORT}:${CLIENT_INTERNAL_PORT}"
    depends_on:
      api-gateway:
        condition: service_healthy
    networks:
      - app_network
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${CLIENT_INTERNAL_PORT}/" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
      start_interval: 1s

networks:
  app_network:

volumes:
  postgres_auth_data:
  postgres_user_data: