services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
      - "8222:8222"
    command: [
      "--user", "${NATS_USER}",
      "--pass", "${NATS_PASSWORD}",
      "-js",
      "-m", "8222"
    ]
    env_file:
      - .env
    networks:
      - app_network
    restart: always

  postgres-auth:
    image: postgres:alpine
    ports:
      - "${DB_AUTH_POSTGRES_EXTERNAL_PORT}:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_AUTH_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_AUTH_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DB_AUTH_POSTGRES_DB}
    networks:
      - app_network
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_AUTH_POSTGRES_USER}" ]
      interval: 2s
      timeout: 2s
      retries: 20

  postgres-user:
    image: postgres:alpine
    ports:
      - "${DB_USER_POSTGRES_EXTERNAL_PORT}:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER_POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_USER_POSTGRES_PASSWORD}
      - POSTGRES_DB=${DB_USER_POSTGRES_DB}
    networks:
      - app_network
    volumes:
      - postgres_user_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB_USER_POSTGRES_USER}" ]
      interval: 2s
      timeout: 2s
      retries: 20

  api-gateway:
    build:
      context: "./backend/api-gateway"
    env_file:
      - .env
    ports:
      - "${API_GATEWAY_PORT}:8080"
    networks:
      - app_network
    depends_on:
      - nats
      - auth-service
      - user-service

  auth-service:
    build:
      context: "./backend/auth-service"
    env_file:
      - .env
    ports:
      - "${API_AUTH_SERVICE_PORT}:8081"
    depends_on:
      nats:
        condition: service_started
      postgres-auth:
        condition: service_healthy
    networks:
      - app_network
    restart: always

  user-service:
    build:
      context: "./backend/user-service"
    env_file:
      - .env
    ports:
      - "${API_USER_SERVICE_PORT}:8082"
    depends_on:
      nats:
        condition: service_started
      postgres-user:
        condition: service_healthy
    networks:
      - app_network
    restart: always

  client:
    env_file:
      - .env
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${API_GATEWAY_LOCAL_URL}
    ports:
      - "${CLIENT_PORT}:80"
    depends_on:
      - api-gateway
    networks:
      - app_network
    restart: always


networks:
  app_network:

volumes:
  postgres_auth_data:
  postgres_user_data: