services:
  postgres:
    image: postgres:alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  server:
    build:
      context: ./server
    env_file:
      - .env
    ports:
      - "${API_PORT}:8080"
    environment:
      - APP_ENV=${APP_ENV}
      - API_PORT=${API_PORT}
      - CLIENT_PORT=${CLIENT_PORT}
      - CLIENT_URL=${CLIENT_URL}
      - API_URL=${API_URL}
      - POSTGRESQL_URI=${POSTGRESQL_URI}
      - JWT_ACCESS_TOKEN_SECRET=${JWT_ACCESS_TOKEN_SECRET}
      - JWT_REFRESH_TOKEN_SECRET=${JWT_REFRESH_TOKEN_SECRET}
      - JWT_ACCESS_TOKEN_EXPIRATION=${JWT_ACCESS_TOKEN_EXPIRATION}
      - JWT_REFRESH_TOKEN_EXPIRATION=${JWT_REFRESH_TOKEN_EXPIRATION}
    depends_on:
      - postgres
    networks:
      - backend
    restart: always

  client:
    env_file:
      - .env
    build:
      context: ./client
      args:
        VITE_API_URL: ${API_URL}
    ports:
      - "${CLIENT_PORT}:80"
    depends_on:
      - server
    restart: always

networks:
  backend:

volumes:
    postgres_data: